@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton-arriba{
    
    background-color: darken(v.$gris-oscuro, 5);
    position: fixed;
    bottom: 3rem;
    right: 1.3rem;
    border-radius: 50%;
    visibility: hidden;
    padding: .8rem;

    @include m.tablet{
        bottom: 3rem;
        right: 2rem;
        padding: 1rem;
    }
    @include m.desktop{
        bottom: 4rem;
        right: 8rem;
        padding: 2rem;
    }

    i{
        color: v.$blanco ;
        font-size: 1.8rem;
    }

    &:hover{
        cursor: pointer;
    }
}

.visible{
    visibility: visible;
}
