@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    margin: 0;
    
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.titulo-ligero{
    font-weight: 200;
}

.text-white{
    color: v.$blanco;
}
.text-black{
    color:v.$negro;
}

.text-bold{
    font-weight: 700;
}

p{
    line-height: 1.65;
}