@use 'base/variables' as v;
@use 'base/mixins' as m;

.proyectos{
    margin-top: 0rem;

    @include m.tablet{
        margin-top: 5rem;
    }

    .encabezado{
        
        text-align: center;

        .titulo-ligero{
            font-weight: 200;
            font-size: 2.2rem;

            @include m.tablet{
                font-size:3.6rem;
            }
           
            
        }
        

    }

    .imagen-proyecto{
       
        padding: 1rem;
        @include m.tablet{
            padding: 2rem 13rem;
        }   
    }
}


.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;


    .presentacion-imagen{
        max-width: 27%;
        margin-bottom: 1.5rem;

        @include m.tablet{
            max-width: 27%;
            padding: 3rem; 
            margin-bottom: unset;
        }

        @include m.desktop{
            max-width: 27%;
            padding: 5rem; 
            margin-bottom: unset;
        }
    }


    .presentacion-texto{
        text-align: center;

        p{
            padding: 0;
            font-size: 1.8rem;
            text-align: justify;
            

            @include m.tablet{
                padding: 1rem 15rem;
                font-size: unset;
                text-align: center;
            }
        }
    }
}



/***************************Experiencia*****************************/
.bg-azul{
    background-color: v.$azul;
    //background-color: v.$azul;
 

    .empresa{
        text-align: center;
        padding: 2rem;
    }

    p{
        text-align: justify;
        @include m.tablet{
            text-align: center;
        }
    }

    p, h3, h4{
        color: v.$blanco;
        
    }

    h4{
        font-weight: 200;
        font-size: 3rem;
    }

    .parrafo-negrita{
        display: inline-block;
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 3rem;
        
    }

    .experiencia{
        display: flex;
        flex-direction: column;


        @include m.tablet{
            @include m.grid(2, 2rem);
        }
        @include m.desktop{
            @include m.grid(3, 2rem);
        }
       
      
        .targeta{
          display: flex;
          flex-direction: column;
         
            
            
            .parrafo{
                order: 2;
                p{  
                   

                    @include m.tablet{
                        text-align: justify;
                        font-size: 1.6rem;

                    }

                    @include m.desktop{
                        text-align: unset;
                        font-size: unset;
                    }

                    .parrafo-negrita{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0;


                        @include m.tablet{
                        display:block;
                        text-align: center;
                        font-size: 1.9rem;
                        }


                        @include m.desktop{
                            font-size:unset;
                        }
                    }

                    
                }
                
            }
            .imagen-area{
                order: 1;
                margin-top: 7rem;
                @include m.tablet{
                    margin-top: 5rem;
                }
               img{
                //aspect-ratio: 1/1;
                height: 30rem;
                object-fit:cover;
               }
                
             
               
                
            }
        }
    }
}


/************************Habilidades*********************************/
.bg-segundo{
    //background-color: v.$segundo;
    



    .seccion{
        text-align: center;
        padding-top: 2rem;
        

        h3{
            font-weight: 200;
        }
    }

    .seccion-habilidades{
        width: 95%;
        max-width: 100rem;
        margin: 0 auto;



        .habilidades{
            @include m.grid(2, .2rem);

            @include m.tablet{
                @include m.grid(4, .5rem);
                align-items: center;
                justify-content: center;
            }
           
        }

        .habilidad{
           text-align: center;
           padding: 2rem;
            font-size: 1.2rem;
           @include m.tablet{
            font-size: 1.3rem;
           }

           @include m.desktop{
            font-size: 1.4rem;
           }

           .icono{

            img{
                aspect-ratio: 1/1;
                
                object-fit:contain;
                padding: 2rem;

                @include m.tablet{
                    padding: 1rem;
                }
                @include m.desktop{
                    padding: 3rem;
                }
            }
                
           }
        }
    }

}


/*---------------------------Aptitudes---------------------------------------*/

.bg-tercero{
    background-color:v.$morado;
    
}




.aptitudes{
 
    
   @include m.tablet{
    display: flex;
    align-items: center;
   }
    
    
    li{
        list-style: none;
        padding: 1rem;
    }
}


/****************************************Educación*************************************/


.bg-cuarto{
    background-color: v.$segundo;

    .escuela{
        
        margin-top: 2rem;
        padding: 0 2rem;
      
        @include m.tablet{
            @include m.grid(2,2rem);
            padding: 2rem;

        }
        @include m.desktop{
            margin-top:5rem;
            padding: 5rem;
        }
    }

    
}



/****************************************Contacto*****************************************************/

.bg-quinto{
    background-color: v.$gris-oscuro;
    padding-bottom: 0;

    .informacion-personal{
        i{
            padding: 1rem;
            font-size: 2rem;
        }
    }

    
}
