@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard{
   
  
    
    @include m.tablet{
        display: flex;
        height: 100vh;
    }


    .contenido{
        flex: 1;
        padding: 2rem;
        overflow: scroll;

        h1{
            padding-bottom: 2rem;
        }
        
    }


    
        
    


    //index


  
}